<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @goal.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @goal.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @goal.cantidad %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @goal.saldo %>
</p>

<!--<p>
  <strong>Family:</strong>
  <%= @goal.family_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @goal.user_id %>
</p> -->

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
